extends layout

block body
  section.section
    .container
      .columns.is-centered
        .column
          .content
            h2.has-text-white Main page 

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean orci dui, venenatis ut elementum et, tincidunt ut lorem. Sed imperdiet pretium ex, vel tristique turpis tristique sed. Donec convallis justo tortor, sit amet convallis lorem ultrices id. Suspendisse porttitor rutrum augue id tempor. Duis mollis pharetra eros, sed sollicitudin magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut neque ut felis maximus pellentesque in vel leo. Curabitur varius commodo ultrices.

            p Curabitur hendrerit risus in erat eleifend semper. Nunc tellus lectus, congue a turpis eu, auctor accumsan tortor. Vivamus semper elementum velit, at viverra massa mattis quis. Vivamus at lectus in nibh laoreet pretium. Nullam auctor sodales tortor, id malesuada felis aliquet sit amet. Duis porta quam id molestie suscipit. Vestibulum egestas maximus diam. Duis porttitor lacus et dui tempor, ac porta nunc pellentesque. Sed facilisis ipsum magna, id tincidunt justo commodo sed. Vivamus finibus rutrum nibh, vel malesuada justo convallis a. Fusce et purus nisi. Nullam vitae sapien quis est pulvinar scelerisque. Maecenas lobortis nisi eros, at vehicula nunc sodales in.
