html(lang="en")
  head
    title Telegram bot frontend
    meta(name="robots" content="noindex")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block styles
      // link(rel='stylesheet' href='/fontawesome/css/all.css')
      link(rel="stylesheet" type="text/css" href="/bulma/bulma.min.css")
      link(rel="stylesheet" type="text/css" href="/css/style.css")

    block scripts
      script(type='text/javascript' src='/js/bulma.js')
      script(type='text/javascript' src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js")

      // script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.js')

body
  block body
  block footer